*{
  padding: 0;
  margin: 0;
  
}
body{
  overflow-x: hidden;
}
.box1{
  width: 60px;
  height: 60px;

  background: red;
  color: white;
  font-weight: 400;

}



.btn{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
 
 
}





button{
  padding: 20px;
  font-weight: 800 !important;
  border-radius: 30px !important;
  
}

